.post  {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.post_body {
    padding: 10px;
    flex: 1;
}

.post_body > img {
    border-radius: 20px;
    max-width: 500px;
}

.post_footer {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 20px;
}
.post_footer > .MuiSvgIcon-root {
    margin-right: 70px;
    color: gray;
}



.badge {
    color: var(--twitter-color);
    font-size: 18px !important;
}

.post_headerTag{
    color: grey;
    font-size: 13px;
    font-weight: 400;
}

.post_description {
    margin-bottom: 5px;
    font-size: 15px;
    max-width: 500px;
}
.post_avatar {
    padding: 10px;
}
