.widgets {
    flex:0.3;
}

.widgets_input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

.widgets_input > input {
    border: none;
    background-color: var(--twitter-background);
    font-size: 14px;
}

.widgets_input > .MuiSvgIcon-root {
    font-size: 20px;
    color: grey;
    margin-right: 10px;
}

.widget_container, .follow_container {
    background-color: var(--twitter-background);
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

.widget_container > h2 {
    font-size: 20px;
    margin-bottom: 25px;
}


.follow_container>h2 {
    font-size: 20px;
    margin-bottom: 25px;
}




